﻿@model IEnumerable<Ejemplo2.Models.Clientes>

@{
    ViewBag.Title = "Index";
}


@{
    ViewBag.Title = "Create";
}


<h2>Index</h2>

@Html.Action("Create")

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
    Usuarios
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="pre-scrollable">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ApellidoP)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ApellidoM)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Edad)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Ocupacion)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApellidoP)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApellidoM)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Edad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Ocupacion)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.id }, new { @class = "btn btn-success btn-sm" })
                                    @Html.ActionLink("Detalles", "Details", new { id = item.id }, new { @class = "btn btn-warning btn-sm" })
                                    @Html.ActionLink("Borrar", "Delete", new { id = item.id }, new { @class = "btn btn-danger btn-sm" })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
